@import "tailwindcss";

:root {
  --background: #09090b;
  --foreground: #fafafa;
}

@theme inline {
  --color-background: #09090b; /* Zinc 950 */
  --color-foreground: #fafafa; /* Zinc 50 */
  --font-sans: var(--font-plus-jakarta), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;

  --animate-gradient-text: gradient-text 5s ease infinite;

  @keyframes gradient-text {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
